<p class="text-2xl text-center font-extrabold text-gray-800 dark:text-white">Lista Pedidos</p>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Fecha</th>
                <th scope="col" class="px-6 py-3">Usuario</th>
                <th scope="col" class="px-6 py-3">Producto</th>
                <th scope="col" class="px-6 py-3">Cantidad</th>
                <th scope="col" class="px-6 py-3">Estado</th>
                <th scope="col" class="px-6 py-3">Acción</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of pedidos" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{p.fecha[0]}}-{{p.fecha[1]}}-{{p.fecha[2]}}</th>
            <td class="px-6 py-4">{{p.usuario.name}}</td>
            <td class="px-6 py-4">{{p.producto.nombre}}</td>
            <td class="px-6 py-4">{{p.nota}}</td>
            <td class="px-6 py-4">{{p.cantidad}}</td>
            <td class="px-6 py-4">{{p.estado}}</td>
            <td> <button type="button" class="btn btn-danger me-1" >Eliminar</button> </td>

        </tr>
        </tbody>
    </table>
</div>
