<div class="w-full flex items-center justify-center relative" [style]="{'min-height': finalHeight}">
    <div class="absolute w-11/12 m-auto flex justify-between">
        <i class=" opacity-70 cursor-pointer justify-between" (click)="setBack()">
            <svg width="40px" height="40px" viewBox="0 0 1024 1024" fill="#000000" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z" fill="" /></svg>
        </i>
        <i class="opacity-70 cursor-pointer justify-between" (click)="setNext()">
            <svg width="40px" height="40px" viewBox="0 0 1024 1024" fill="#000000" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M642.174 504.594c7.99 7.241 7.897 17.58-0.334 24.782L332.62 799.945c-8.867 7.759-9.766 21.236-2.007 30.103 7.758 8.867 21.236 9.766 30.103 2.007l309.221-270.569c27.429-24 27.792-64.127 0.89-88.507L360.992 192.192c-8.73-7.912-22.221-7.248-30.133 1.482-7.912 8.73-7.248 22.222 1.482 30.134l309.833 280.786z" fill="" /></svg>
        </i>
    </div>
    <div class="text-center w-full self-stretch flex overflow-hidden">
        @for (section of items; track $index) {
        <ng-container>
            <div class="flex items-center justify-center min-w-full h-full bg-no-repeat bg- bg-cover transition-all" [style]="{'background-image': 'url(' + section.image +')', 'margin-left': section.marginLeft + '%'}">
            </div>
        </ng-container>
    }
    </div>
    <div class="absolute bottom-2 w-full flex justify-center">
        @for (step of items; track $index) {
            <div class="h-2 w-5 my-0 mx-1 rounded-md border border-solid bg-gray-400 cursor-pointer transition-all hover:opacity-70 hover:bg-white {{currentPosition === step.id ? 'bg-white': ''}}" (click)="setCurrentPosition(step.id)">
            </div>
        }
        
    </div>
</div>
