<!-- CAROUSEL -->
<div class="rounded">
  @if (imagenespublicitarias["flyer principal"]) {
    <app-carrusel-img
      [imagenes]="
        imagenespublicitarias['flyer principal'].length
          ? imagenespublicitarias['flyer principal']
          : []
      "
    ></app-carrusel-img>
  }
</div>
<!-- <p class="text-2xl text-center font-extrabold text-gray-800 dark:text-white mt-3">NUEVOS</p> -->

<app-carrusel-cartproduct
  [items]="nuevos"
  [title]="'Nuevos Ingresos'"
></app-carrusel-cartproduct>

@for (categorias of ObjectKeys(Categoria_Producto); track $index) {
  <!-- <p class="text-2xl text-center font-extrabold text-gray-800 dark:text-white mt-3">{{categorias}}</p> -->
  <app-carrusel-cartproduct
    [items]="Categoria_Producto[categorias]"
    [title]="categorias"
  ></app-carrusel-cartproduct>
}
