<div
  class="w-[160px] h-[410px] sm:w-[180px] p-4 md:p-3 m-auto md:w-52 flex flex-col justify-between rounded-lg border border-gray-200 bg-white shadow-sm dark:border-gray-700 dark:bg-gray-800 hover:cursor-pointer hover:shadow-xl"
>
  <div
    [routerLink]="['/product', product.id]"
    class="w-full h-32 object-contain"
    (mouseenter)="changeImage()"
    (mouseleave)="revertImage()"
  >
    <img
      class="mx-auto w-full h-32 object-contain hover:scale-110 transition-all dark:hidden rounded-lg"
      [src]="imagen"
      alt="img"
    />
  </div>

  <div [routerLink]="['/product', product.id]" class="pt-6 flex-grow h-24">
    <p
      class="text-xs md:text-sm font-semibold text-gray-900 dark:text-white hover:underline hover:cursor-pointer"
    >
      {{ product.nombre }}
    </p>

    <div class="mt-2 flex items-center gap-3">
      <div class="flex flex-col items-start gap-2">
        <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Stock: {{ product.stock }}
        </p>
        <p class="text-md font-medium text-gray-500 dark:text-gray-400">
          S/. {{ product.precio }}
        </p>
      </div>
    </div>
  </div>

  <div
    class="mt-2 md:mt-4 flex flex-row flex-nowrap justify-between items-center"
  >
    <button
      (click)="Agregar()"
      type="button"
      class="py-2 px-3 text-xs md:text-sm flex-1 flex items-center justify-center font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900"
    >
      <svg
        class="h-5 w-5 md:h-6 md:w-6 mr-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
        />
      </svg>
      <span class="text-[10px] md:text-sm">Añadir al carrito</span>
    </button>
  </div>
</div>
