<form class="max-w-sm mx-auto">
  <label
    for="comprobante"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
  >
    Seleccionar Comprobante
  </label>
  <select
    name="comprobante"
    id="comprobante"
    (change)="consulta($event)"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <option value="venta">Venta</option>
    <option value="compra">Compra</option>
  </select>
</form>

<hr class="my-4" />

<!-- <app-lista-ingreso *ngIf="!flag"></app-lista-ingreso> -->
<!-- <app-lista-salida *ngIf="flag"></app-lista-salida> -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Fecha</th>
        <th scope="col" class="px-6 py-3">Emisor</th>
        <th scope="col" class="px-6 py-3">Numeracion</th>
        <th scope="col" class="px-6 py-3">RUC/DNI/ETC</th>
        <th scope="col" class="px-6 py-3">Denominación</th>
        <th scope="col" class="px-6 py-3">Total</th>
        <th scope="col" class="px-6 py-3">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let v of Documentos"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ v.fecha_emision.split("T")[0] }}
        </th>
        <td class="px-6 py-4">{{ v.negocio }}</td>
        <td class="px-6 py-4">{{ v.documento }}</td>
        <td class="px-6 py-4">{{ v.cliente_documento }}</td>
        <td class="px-6 py-4">{{ v.cliente }}</td>
        <td class="px-6 py-4">{{ v.total | currency: "S/. " }}</td>

        <td class="px-6 py-4 text-right">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Opciones</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
